* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  outline: 1 solid red;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
}

body {
  margin: 0px;
  padding: 0px;
}

main {
  z-index: 1;
  background-color: #252b42;
}

header {
  background-color: #fff;
}

nav {
  display: flex;
  background-color: #252b42;
  color: #fff;
  /* margin-bottom: -35px */
}

.nav-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.nav-icons p i {
  color: #fff;
  font-size: 25px;
}

.nav-icons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 15px;
}

.nav-links,
.nav-link,
.nav-btn {
  display: none;
}

.home-container {
  background-position: center;
  /* background-position-y: 100%; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/fbackground.jpg");
  background-size: cover;
  padding: 0px 10px 100px;
  min-height: 10px;
}

.home-row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.home-row1-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
}

.home-row1-text h1 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.home-row1-text h4 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 36px;
  gap: 10px;
}

.home-btn1 {
  background: #ffa62b;
  border-radius: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  padding: 10px 36px;
  border: none;
}

.home-p {
  padding: 10px 36px;
  border-radius: 37px;
  background-color: #ffffff0b;
  color: #fff;
  border: 1px solid #fff;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
}

.home-row1 h4 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.home-row2 {
  align-items: center;
  padding: 0px;
}

.home-row2 .row2-card {
  background-color: #fff;
  color: #000;
  display: flex;
  max-width: 180px;
  margin: 10px auto;
}

.row2-card i {
  color: #00a0c1;
  margin-top: 40px;
  padding: 0 20px;
}

.row2-card h3 {
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
}

.row2-card h6 {
  margin-top: 0;
  font-family: Montserrat, sans-serif;
}

.feature-container {
  display: grid;
  grid-template-columns: 240px;
  margin: 50px auto;
  justify-content: center;
  background-color: #252b42;
}

.fcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 100px 0px;
}

.fboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.fboxes .feature-boxes {
  background-color: #fff;
  margin-top: 20px;
  align-items: center;
  padding: 40px;
  height: 290px;
}

.feature-container .feature-boxes2 {
  background-color: #00a0c1;
  margin-top: 20px;
  align-items: center;
  color: #fff;
  padding: 40px;
  margin-bottom: 50px;
  height: 290px;
}

.boxes-text h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
}

.boxes-text p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

.feature-boxes button {
  border-radius: 37px;
  border: #00a0c1 solid;
  color: #00a0c1;
  padding: 10px 30px;
  background-color: #fff;
  font-family: Montserrat;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
}

.feature-boxes2 button {
  border-radius: 37px;
  border: none;
  color: #00a0c1;
  font-family: Montserrat;
  padding: 10px 40px;
  background-color: #fff;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
}

.about-container {
  margin: auto;
  align-items: center;
  background-color: #252b42;
}

.about-cont {
  display: flex;
  gap: 100px;
  padding: 100px 10px;
  align-items: center;
  flex-direction: column;
  /* max-width: 320px; */
}

.about-row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.abt-row1-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.abt-row1-txt h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
  max-width: 308px;
}

.abt-row1-txt p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 225px;
  color: #fff;
}

.about-row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  padding: 0px;
}

.abt-row2-img {
  background-image: url("../images/media\ bg-cover\ \(1\).png");
  max-width: 333px;
  height: 442px;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.abt-row2-img i {
  color: #00a0c1;
  padding: 50%;
}

.abt-row2-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  padding: 0px;
}

.abt-row2-text-first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px;
  gap: 10px;
}

.abt-row2-text-first h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #fff;
}

.abt-row2-text p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #fff;
}
.abt-end {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-radius: 9px;
}

.abt-end2 {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-radius: 9px;
  margin-top: -40px;
}

.abt-end p i,
.abt-end2 p i {
  color: #00a0c1;
  margin-right: 5px;
}

.abt-end p span,
.abt-end2 p span {
  margin-left: 10px;
}

.testimonial-section {
  background-color: #00a0c1;
  padding: 70px 40px;
}

.testimonial1 h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.testimonial1 p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.testimonial2 {
  display: grid;
  grid-template-columns: 414px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.testimonial2 .t-boxes {
  background-color: #fff;
  max-width: 250px;
  padding: 20px;
  align-self: center;
  margin: 30px auto 0;
}

.t-boxes h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #252b42;
  margin-bottom: 0;
}

.t-boxes h6 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #737373;
  margin-top: 0;
}

.t-boxes .stars {
  display: flex;
  flex-direction: row;
  color: #f3cd03;
  padding: 5px 20px;
}

.t-boxes img {
  margin-left: -60px;
  margin-top: -20px;
}

.t-boxes p {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

.team2-container {
  margin: auto;
  padding: 40px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.team2-row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0;
}

.team2-row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.team2-head {
  margin: auto;
  text-align: center;
  color: #fff;
}

.team2-head h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
}

.team2-head p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}

.team2-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  /* margin: 20px auto; */
}

.t2-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  color: #000;
  align-items: center;
  padding: 30px 50px;
  max-width: 331px;
}

.t2-cards h6 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffa62b;
  margin: 0 auto;
}

.t2-cards h5 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-align: center;
  color: #252b42;
  margin: 0 auto;
}

.t2-cards p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  margin: 0 auto;
  max-width: 149px;
}

.contact2-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0px;
  gap: 60px;
  max-width: 330px;
}

.contact2-main .contact2-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0px;
  gap: 30px;
}

.contact2-main .contact2-second {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.contact2-second-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

.contact2-second-carditem {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: auto;
}

.contact2-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 0px;
  text-align: center;
  gap: 15px;
  color: #fff;
  padding: 20%;
}

.contact2-texts h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: left;
}

.contact2-texts p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

.contact2-world {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  gap: 14px;
}

.contact2-study {
 max-width: fit-content;
 margin: auto;
 align-items: center;
}

.contact2-study .stud {
  max-width: fit-content;
}

.contact2-study .stud2 {
  display: none;
}

.contact2-second form {
  margin: 0px;
  padding: 0x;
}

.form-container {
  background: #fff;
  margin: auto;
  border-radius: 5px;
  padding: 25px;
  max-width: fit-content;
}

.form-container h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}

.form-h6 {
  font-weight: 600;
  font-size: 14px;
  color: #252b42;
  margin-block-end: 20px;
  margin-block-start: 10px;
}

.form-h6s {
  font-weight: 600;
  font-size: 14px;
  color: #252b42;
  margin-block-end: 5px;
  margin-block-start: 10px;
}

.form-h7 {
  font-weight: 600;
  margin-block-end: 25px;
  margin-block-start: 10px;
  font-size: 14px;
  color: #252b42;
  display: none;
}

.form-container input {
  background-color: #f9f9f9;
  border: 1px solid #bdbdbd;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  border-radius: 5px;
  padding: 15px 62px 15px 5px;
  color: #737373;
}

.form-container select {
  background-color: #f9f9f9;
  border: 1px solid #bdbdbd;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  border-radius: 5px;
  padding: 18px 130px 18px 5px;
  color: gray;
  margin-top: -15px;
}

.form-container button {
  margin-top: 30px;
  background-color: #ffa62b;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  padding: 15px 55px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.footer-container {
  max-width: 295px;
  margin: auto;
  padding: 15px 25px 0;
}

.footer-container h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.footer-container p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding-bottom: 15px;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.footer-h6 {
  background-color: #384163;
}

.footer-h6 h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 20px;
}

@media only screen and (min-width: 768px){
  nav {
    margin-bottom: -80px;
    max-width: 1000px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto 210px;
  }

  .nav-h3 {
    color: #fff;
    margin-top: -5px;
  }

  .nav-icons {
    display: none;
  }

  .nav-links,
  .nav-btn,
  .nav-link {
    display: initial;
    margin-top: 30px;
  }

  .nav-links a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding-right: 15px;
  }

  .nav-link a {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    text-decoration: none;
  }

  .nav-btn button {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    background: #ffa62b;
    border-radius: 5px;
    border: none;
    padding: 15px;
    position: absolute;
    margin-top: -15px;
  }

  .nav-btn img {
    margin-left: 10px;
  }
  
  .home-container {
    background-image: linear-gradient(rgb(0 0 0 / 50%), rgba(0 0 0 / 50%)), url("../images/background.png");
    display: flex;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }

  .home-row1 {
    margin-top: 100px;
    max-width: 850px;
    padding: 40px 0px;
    gap: 30px;
    left: 2px;
    max-width: 860px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    /* margin: 0; */
  }

  .home-row1 h1 {
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.2px;
    font-size: 58px;
    max-width: 780px;
  }

  .home-row1 h4 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    max-width: 500px;
  }

  .home-row1 .btn-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
  }

  .home-row2 {
    display: flex;
    margin-bottom: -160px;
  }

  .feature-container {
    display: flex;
  }

  .fcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0px;
  }

  .fboxes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    padding: 0;
  }

  .abt-row2-img {
    background-image: url("../images/media\ bg-cover.png");
  }

  .team2-container {
    margin: auto;
    padding: 80px 0px;
    align-items: center;
    display: flex;
    gap: 50px;
    flex-direction: column;
  }
  
  .team2-row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .team2-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    max-width: 864px;
  }

  .team2-head h2 {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.2px;
  }

  .team2-head p {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: center;
  } 
  
  .team2-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
  }
}