* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  outline: 1 solid red;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 24px;
}

main {
  background-color: #252b42;
}

nav {
  display: flex;
  background-color: #252b42;
  color: #fff;
}

.nav-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.nav-icons p i {
  color: #fff;
  font-size: 25px;
}

.nav-icons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 15px;
}

.nav-links,
.nav-link,
.nav-btn {
  display: none;
}

.home-container {
  background-position: center;
  background-position-y: 85%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/fbackground.jpg");
  background-size: cover;
  padding-bottom: 100px;
  min-height: 10px;
}

.home-row1 h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 36px;
  gap: 10px;
}

.home-btn1 {
  background: #ffa62b;
  border-radius: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  padding: 10px 40px;
  border: none;
}

.home-p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 20px;
}

.home-row1 h4 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.home-row2 {
  align-items: center;
  padding: 0px;
}

.home-row2 .row2-card {
  background-color: #fff;
  color: #000;
  display: flex;
  max-width: 180px;
  margin: 10px auto;
}

.row2-card i {
  color: #00a0c1;
  margin-top: 40px;
  padding: 0 20px;
}

.row2-card h3 {
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
}

.row2-card h6 {
  margin-top: 0;
  font-family: Montserrat, sans-serif;
}

.feature-container {
  display: grid;
  grid-template-columns: 240px;
  margin: 50px auto;
  justify-content: center;
}

.feature-container .feature-boxes {
  background-color: #fff;
  margin-top: 20px;
  align-items: center;
  padding: 40px;
}

.feature-container .feature-boxes2 {
  background-color: #00a0c1;
  margin-top: 20px;
  align-items: center;
  color: #fff;
  padding: 40px;
  margin-bottom: 50px;
}

.boxes-text h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
}

.boxes-text p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

.feature-boxes button {
  border-radius: 37px;
  border: #00a0c1 solid;
  color: #00a0c1;
  padding: 10px 30px;
  background-color: #fff;
  font-family: Montserrat;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
}

.feature-boxes2 button {
  border-radius: 37px;
  border: none;
  color: #00a0c1;
  font-family: Montserrat;
  padding: 10px 40px;
  background-color: #fff;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
}

.about-cont {
  padding: 40px;
}

.about-row1 h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
  max-width: 300px;
}

.about-row1 p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 220px;
  color: #fff;
}

.abt-row2-img {
  background-image: url("../images/media-cover.jpg");
  max-width: 333px;
  height: 442px;
  align-items: center;
  justify-content: center;
}

.abt-row2-img i {
  color: #00a0c1;
  padding: 50%;
}

.abt-row2-text h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #fff;
}

.abt-row2-text p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #fff;
}

.abt-end p i {
  color: #00a0c1;
  margin-right: 5px;
}

.abt-end p span {
  margin-left: 10px;
}

.testimonial-section {
  background-color: #00a0c1;
  padding: 70px 40px;
}

.testimonial1 h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.testimonial1 p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.testimonial2 .t-boxes {
  background-color: #fff;
  max-width: 300px;
  padding: 20px;
  margin-top: 30px;
}

.t-boxes h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #252b42;
  margin-bottom: 0;
}

.t-boxes h6 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #737373;
  margin-top: 0;
}

.t-boxes .stars {
  display: flex;
  flex-direction: row;
  color: #f3cd03;
  padding: 5px 20px;
}

.t-boxes img {
  margin-left: -30px;
  margin-top: -20px;
}

.t-boxes p {
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}
